<div class="container">
  <div class="sidebar">
    <!-- Course Name and Color Input -->
    <input
      type="text"
      name="courseName"
      [(ngModel)]="courseName"
      placeholder="Course Name"
      required
    />
    <input type="color" name="courseColor" [(ngModel)]="courseColor" required />
    <button type="submit" (click)="generateCourse()">Submit</button>
    <app-course-button></app-course-button>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
    <div class="uploader-status"></div>
  </div>
</div>
