:host {
  --background-color: #ffccbc; /* Default color if none provided */
}

button {
  background-color: var(--background-color);
  color: #4a4a4a;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--lightBG); /* Lighten the background color by 20% */

}
button:disabled {
  opacity: 0.5; /* You can adjust this value between 0 and 1 */
  cursor: not-allowed;
}

/* Optional: Add a transition for a smooth effect when the button becomes enabled/disabled */
button {
  transition: opacity 0.3s ease;
}

input[type="file"] {
  margin-bottom: 10px;
}

/* Spinner container styling */
:host >>> .mat-mdc-progress-spinner .mdc-circular-progress__determinate-circle,
:host >>> .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
    stroke: var(--background-color) !important;
}