.course-button {
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    color: white;
    display: inline-block;
    min-width: 200px;
    text-align: center;
  }
  
  button {
    background-color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
  }
   