/* Global CSS Variables */
:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --background-color: #f9f9f9;
  --text-color: #4a4a4a;
  --font-family: 'Century Gothic', sans-serif;
  --button-bg-color: #ffccbc;
  --button-hover-bg-color: #ffab91;
}

/* Global Styles */
* {
  font-family: var(--font-family);
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--button-bg-color);
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--button-hover-bg-color);
}
